.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  height: 3rem;
  padding: 0.5rem 1rem;
  background: black;
  z-index: 10;
}

.logo {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  margin-right: 0.5em;
}

.logoImg {
  padding-right: 0.5em;
}

.search {
  flex-basis: 50%;
  display: flex;
}
.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  background-color: darkgray;
  outline: 0;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}

.aside_wrap {
  transform: translateY(25%);
}
.aside_menus {
  color: rgba(178, 178, 178, 1);
  margin: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.aside_menus:hover {
  transform: scale(1.1);
  color: #ff0000;
}

.aside_wrap li svg {
  margin-right: 0.5em;
}

@media all and (max-width: 48rem) {
  .title {
    display: none;
  }
}
